*.launch
.cproject
.project
bbepi.allcv.h
bbepi.cvcopy.c
bbepi.epic
bbepi.exportstr.h
bbepi.global.h
bbepi.host.c
bbepi.host.map
bbepi.hostdecl.h
bbepi.runtime.h
bbepi.tgt.c
bbepi.tgtdecl.h
bbepi.tgtex.h
cvinit.in
predownload.in
